{%extends 'base.html'%} {%block contenido%} {%load static%}

<style>
  a {
    color: #001f3f;
    text-decoration: none;
    font-weight: 600;
    margin: 10px;
    display: inline-block;
    animation: linkFadeIn 1s ease-in-out;
  }

  a:hover {
    color: #001f3f;
    text-decoration: underline;
  }

  @keyframes linkFadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Espacio entre las cartas */
  }

  .card {
    width: 18rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 31, 63, 0.5);
    border-color: #001f3f; /* Azul oscuro */
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem;
  }

  .btn {
    margin-top: auto;
    align-self: center;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }
</style>

<div class="titulo">HOT SALE</div>
<div class="card-deck">
  {% for camara in camaras %}
  <div class="card">
    <img
      src="{{ camara.imagen.url }}"
      class="card-img-top"
      alt="Imagen de {{ camara.nombreCamara }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ camara.nombreCamara }}</h5>
      <p class="card-text">{{ camara.descripcion }}</p>
      <a href="{% url 'inventario' %}" class="btn btn-primary">Ir a mercado</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
