{%extends 'base.html'%}

{%block contenido%}
{%load static%}

<style>
    .content, .main-content, .container {
        border: none;
        background: none;
    }
    a:hover {
    color: #001f3f; /* Azul oscuro */
    text-decoration: underline;
  }
    .container-mercado {
        display: flex;
        flex-direction: row; /* Cambiado a row para alinear elementos en filas */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea */
        justify-content: center; /* Centra los elementos en el eje principal */
        gap: 20px; /* Espacio entre los elementos */
        margin: auto;
        max-width: 90%; /* Ajusta al ancho deseado */
    }
    .card {
        width: 18rem; /* Ancho de las tarjetas */
        padding: 20px;
        border: solid 2px black;
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcional: añade sombra para mejor estética */
    }
    .card img{
        width: 100%;
        height: 200px;
        object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
        border-radius: 7px;
    }
    
</style>

<div class="container-mercado">
    {%for camara in camaras%}
    <div class="card">
        <img src="{{camara.imagen.url}}" style="border: solid 2px black; border-radius: 7px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{camara.nombreCamara}}</h5>
            <p class="card-text" style="text-align: center;">{{camara.descripcion}}</p>
            <p class="card-text" style="text-align: center;">${{camara.precio}}</p>
            <p class="card-text" style="text-align: center;">{{camara.stock}}</p>
            <a href="{%url 'agregar' camara.idCamara%}" id="btn_comprar" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    {%endfor%}
</div>
<div class="col-4">
    {%include "carrito/carrito.html"%}
</div>






{% endblock %}
